flows.json
[{"id":"f5918b7.1c65678","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6485e16d.889","type":"ui_tab","z":"","name":"Registration Form","icon":"dashboard","disabled":false,"hidden":false},{"id":"99e790ce.bda04","type":"ui_group","z":"","name":"Reg Form","tab":"6485e16d.889","order":1,"disp":true,"width":"6","collapse":false},{"id":"be0f2420.e119a8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"47ca9269.45fd4c","type":"ui_group","z":"","name":"Login Form","tab":"782f188f.7ca558","order":2,"disp":true,"width":"6","collapse":false},{"id":"782f188f.7ca558","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"811d3705.8c7eb8","type":"ui_tab","z":"","name":"CustomerHelp","icon":"dashboard","disabled":false,"hidden":false},{"id":"ee589dd9.1ecb2","type":"ui_group","z":"","name":"Bot","tab":"811d3705.8c7eb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f61aca80.9ea848","type":"ui_form","z":"f5918b7.1c65678","name":"","label":"","group":"99e790ce.bda04","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":300,"wires":[["62599570.5f81ec","f8037313.bbdc6"]]},{"id":"62599570.5f81ec","type":"debug","z":"f5918b7.1c65678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":200,"wires":[]},{"id":"f8037313.bbdc6","type":"function","z":"f5918b7.1c65678","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":300,"wires":[["61ca0f33.d0c9c"]]},{"id":"61ca0f33.d0c9c","type":"cloudant out","z":"f5918b7.1c65678","name":"cloudant","cloudant":"","database":"sample","service":"node-red-dbsyw-2020--cloudant-1597403455241-67620","payonly":true,"operation":"insert","x":640,"y":300,"wires":[]},{"id":"b2477295.18487","type":"ui_form","z":"f5918b7.1c65678","name":"","label":"","group":"47ca9269.45fd4c","order":1,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":400,"wires":[["d50cece2.6b9f"]]},{"id":"d50cece2.6b9f","type":"function","z":"f5918b7.1c65678","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":400,"wires":[["68aae4b.04a7d1c"]]},{"id":"68aae4b.04a7d1c","type":"function","z":"f5918b7.1c65678","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":400,"wires":[["a592db7f.762378"]]},{"id":"a592db7f.762378","type":"cloudant in","z":"f5918b7.1c65678","name":"","cloudant":"","database":"sample","service":"node-red-dbsyw-2020--cloudant-1597403455241-67620","search":"_idx_","design":"user","index":"user","x":700,"y":400,"wires":[["e4331593.f375b8"]]},{"id":"e4331593.f375b8","type":"function","z":"f5918b7.1c65678","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":400,"wires":[["8d15ef19.8e06c"]]},{"id":"8d15ef19.8e06c","type":"ui_text","z":"f5918b7.1c65678","group":"47ca9269.45fd4c","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":400,"wires":[]},{"id":"6aa4c2fb.06a40c","type":"ui_form","z":"f5918b7.1c65678","name":"","label":"","group":"ee589dd9.1ecb2","order":1,"width":0,"height":0,"options":[{"label":"User input:","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":500,"wires":[["617b4112.df4a3"]]},{"id":"617b4112.df4a3","type":"function","z":"f5918b7.1c65678","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":500,"wires":[["f9e83d32.66502"]]},{"id":"f9e83d32.66502","type":"watson-conversation-v1","z":"f5918b7.1c65678","name":"","workspaceid":"966fa2f9-b6d0-47d7-8a03-4b93d31dea59","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/299ba59c-5735-44b1-97ab-436f64e583b2","timeout":"","optout-learning":false,"x":520,"y":500,"wires":[["5824bbb2.b5a674","c10186f9.6db1a8"]]},{"id":"c10186f9.6db1a8","type":"debug","z":"f5918b7.1c65678","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":560,"wires":[]},{"id":"5824bbb2.b5a674","type":"function","z":"f5918b7.1c65678","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":500,"wires":[["2416f634.3ea6ea","696e6d39.f165d4"]]},{"id":"2416f634.3ea6ea","type":"ui_text","z":"f5918b7.1c65678","group":"ee589dd9.1ecb2","order":1,"width":"6","height":"7","name":"","label":"Bot response:","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":500,"wires":[]},{"id":"696e6d39.f165d4","type":"ui_audio","z":"f5918b7.1c65678","name":"","group":"ee589dd9.1ecb2","voice":"","always":"","x":900,"y":560,"wires":[]}]